---

---



<style>
#f {
background: #2f2f2f;
padding-top: 70px;
padding-bottom: 70px;
text-align: center;
}
#f h3 {
color: white;
}
#f i {
font-size: 26px;
color: white;
padding-left: 10px;
padding-right: 10px;
}


</style>





<div id="f">
    <div class="container">
      <div class="row">
          <h3><b>CONTACTEZ NOUS</b></h3>
          <br>
          <div class="col-lg-4">
            <h3><b>Envoyez nous un message :</b></h3>
            <h3>{{site.email}}</h3>
            <br>
          </div>

          <div class="col-lg-4">
            <h3><b>Appellez nous :</b></h3>
            <h3>{{site.phone}}</h3>
            <br>
          </div>

          <div class="col-lg-4">
            <h3><b>Retrouvez nous sur </b></h3>
            <p>
              <a href="{{site.owner.facebook}}"><i class="fa fa-facebook"></i></a>
              <a href="{{site.owner.twitter}}"><i class="fa fa-twitter"></i></a>
              <a href="mailto:{{{{site.email}}"><i class="fa fa-envelope"></i></a>
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>


<style>

</style>
<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span><span id="toTopHover" style="opacity: 1;"></span></a>

